apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - statefulset.yaml
  - service.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: curator
    includeTemplates: true
