---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { RiHeartFill } from "@remixicon/react";
import { BodySmall } from "@repo/ui-web/components/custom/typography.jsx";
import { Mail } from "lucide-react";
import Logo from "./Logo.astro";
import SocialButton from "./SocialButton.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="bg-light border-t-gray-light flex justify-center border-t px-4 py-8 lg:py-10"
>
  <div class="flex w-full max-w-[1200px] flex-col gap-9">
    <div
      class="flex flex-col items-center gap-4 md:items-start lg:flex-row lg:justify-between"
    >
      <div class="flex flex-col gap-2">
        <div class="flex flex-col items-center gap-6 md:items-start">
          <Logo />
          <div class="flex flex-row items-center gap-1">
            <SocialButton network="discord" />
            <SocialButton network="github" />
            <SocialButton network="instagram" />
            <SocialButton network="pinterest" />
            <SocialButton network="tiktok" />
            <SocialButton network="facebook" />
          </div>
          <div class="flex flex-row items-center gap-1">
            <Mail size={16} color="#4B5563" />
            <BodySmall color="gray-normal">
              {t("footer.email")}
            </BodySmall>
          </div>
        </div>
        <div class="w-full max-w-[484px] text-center md:text-left">
          <BodySmall color="gray-normal">
            {t("footer.description")}
          </BodySmall>
        </div>
      </div>
      <!-- Sitemap -->
      <div class=""></div>
    </div>
    <div
      class="flex w-full flex-col items-center justify-between gap-4 md:flex-row"
    >
      <div class="flex items-center gap-1">
        <BodySmall color="gray-normal">
          {t("footer.open_source")}
        </BodySmall>
        <RiHeartFill color="#0060F7" size={12} />
      </div>
      <BodySmall color="gray-normal">
        {`© ${new Date().getFullYear()} ${t("footer.copyright")}`}
      </BodySmall>
    </div>
  </div>
</footer>
