---
import { cn } from "@repo/ui-web/lib/utils";

interface Props {
  class?: string;
  containerClass?: string;
}

const { class: className, containerClass, ...props } = Astro.props;
---

<div
  class={cn(
    "bg-card text-card-foreground mt-24 min-h-[627px] flex flex-col justify-center w-full max-w-300 rounded-3xl text-center shadow-sm md:mt-0",
    "border-border border",
    className,
  )}
  {...props}
>
  <div
    class={cn(
      "gap-8 p-6 py-8 md:gap-12 md:p-10 flex w-full justify-center",
      containerClass,
    )}
  >
    <div
      class="flex h-auto w-full max-w-[700px] flex-col items-center gap-4.5 rounded-2xl object-cover"
    >
      <slot />
    </div>
  </div>
</div>
