---
import { cn } from "@repo/ui-web/lib/utils";
import { Image } from "astro:assets";
import { cva, type VariantProps } from "class-variance-authority";

import LogoDark from "@/assets/images/logo-dark.png";
import LogoLight from "@/assets/images/logo-light.png";
import LogoProDark from "@/assets/images/logo-pro-dark.png";
import LogoProLight from "@/assets/images/logo-pro-light.png";

const logoVariants = cva("w-auto object-contain", {
  variants: {
    size: {
      xs: "h-3 sm:h-4",
      sm: "h-4 sm:h-6",
      md: "h-6 sm:h-8",
      lg: "h-8 sm:h-10",
      xl: "h-10 sm:h-12",
      "2xl": "h-12 sm:h-16",
    },
  },
  defaultVariants: {
    size: "md",
  },
});

export interface Props extends VariantProps<typeof logoVariants> {
  class?: string;
  type?: "dark" | "light";
  variant?: "default" | "pro";
}

const {
  class: className,
  type = "light",
  size,
  variant = "default",
} = Astro.props;

const getImageSrc = () => {
  if (variant === "pro") {
    return type === "light" ? LogoProLight : LogoProDark;
  }
  return type === "light" ? LogoLight : LogoDark;
};

const selectedImage = getImageSrc();
---

<div class={cn("flex items-center gap-2 select-none", className)}>
  <Image
    src={selectedImage}
    alt={variant === "pro" ? "Curator Pro" : "Curator"}
    class={logoVariants({ size })}
    draggable="false"
    loading="eager"
    fetchpriority="high"
  />
</div>
