---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import {
  RiDiscordFill,
  RiFacebookFill,
  RiGithubFill,
  RiInstagramFill,
  RiPinterestFill,
  RiTiktokFill,
} from "@remixicon/react";
import { Button } from "@repo/ui-web/components/base/button.jsx";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Network =
  | "discord"
  | "github"
  | "instagram"
  | "pinterest"
  | "tiktok"
  | "facebook";

type Props = {
  network: Network;
};

const { network } = Astro.props;

const links: Record<
  Network,
  { title: string; url: string; label: string; icon: any }
> = {
  instagram: {
    title: "Instagram",
    url: "https://www.instagram.com/curator_br/",
    label: t("social.instagram"),
    icon: RiInstagramFill,
  },
  pinterest: {
    title: "Pinterest",
    url: "https://www.pinterest.com/curator_br/",
    label: t("social.pinterest"),
    icon: RiPinterestFill,
  },
  tiktok: {
    title: "TikTok",
    url: "https://www.tiktok.com/@curator_br",
    label: t("social.tiktok"),
    icon: RiTiktokFill,
  },
  facebook: {
    title: "Facebook",
    url: "https://www.facebook.com/profile.php?id=61587282390193",
    label: t("social.facebook"),
    icon: RiFacebookFill,
  },
  discord: {
    title: "Discord",
    url: "https://discord.gg/fCucb3mm8B",
    label: t("social.discord"),
    icon: RiDiscordFill,
  },
  github: {
    title: "GitHub",
    url: "https://github.com/thiagofons/curator",
    label: t("social.github"),
    icon: RiGithubFill,
  },
};

const item = links[network];

const Icon = item.icon;
---

<a href={item.url} target="_blank" rel="noopener noreferrer">
  <Button className="h-8 w-8" aria-description={item.label}>
    <Icon size={16} color="#FFFFFF" />
  </Button>
</a>
