# =============================================================================
# Curator — Example Environment
# Use this file to build your own local environment.
# =============================================================================

# Environment =================================================================
# --- Node.js Environment ---
NODE_ENV=

# Database ====================================================================
# --- Database Configuration ---
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=

# --- Connection Strings ---
DATABASE_URL=
API_DATABASE_URL=
CMS_DATABASE_URL=
FLAGS_DATABASE_URL=

# Applications ================================================================
# --- backend/api ---
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=

# --- backend/cms ---
PAYLOAD_SECRET=
PAYLOAD_SERVER_URL=

# --- backend/flags ---
FLAGS_ENVIRONMENT_KEY=
FLAGS_SECRET_KEY=
FLAGS_API_URL=

# --- frontend/website ---
DISCORD_WEBHOOK_URL=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_SERVICE_ACCOUNT_KEY=

# Infrastructure ==============================================================
# --- redis ---
REDIS_PASSWORD=
JWT_SECRET=

# --- grafana ---
GRAFANA_USER=
GRAFANA_PASSWORD=
