# >>> Common Services <<<
services:


  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_EXTERNAL_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - curator-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # >>> RabbitMQ Message Broker <<<
  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    environment:
      # Credentials for the broker
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      # Port for microservices to connect (doesn't need to be exposed to host, but can help with debugging)
      - "5672:5672"
      # Port for the management UI
      - "${RMQ_MANAGEMENT_EXTERNAL_PORT}:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - curator-net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

# >>> Named Volumes <<<
# Ensures data persistence across container lifecycles.
volumes:
  # Redis
  redis_data:
    driver: local
  # RabbitMQ
  rabbitmq_data:
    driver: local

# >>> Custom Network <<<
# Isolates the project's containers and enables DNS resolution by service name.
networks:
  curator-net:
    driver: bridge
