---
import DownloadButton from "@/components/DownloadButton.astro";
import { HeroCard } from "@/components/react/HeroCard";
import { useTranslations } from "@/i18n/utils";

const t = useTranslations();
---

<main class="flex min-h-screen items-center justify-center p-5">
  <HeroCard.Root orientation="horizontal" client:load>
    <HeroCard.Content>
      <HeroCard.Title html={t("home.hero.title")} />

      <HeroCard.Subtitle>{t("home.hero.subtitle")}</HeroCard.Subtitle>
      <HeroCard.Actions>
        <DownloadButton store="Google Play" />
        <DownloadButton store="App Store" />
      </HeroCard.Actions>
    </HeroCard.Content>

    <HeroCard.Image
      src="/images/home/hero.png"
      alt={t("home.hero.alt_text")}
      width={400}
      height={300}
    />
  </HeroCard.Root>
</main>
