---
import BG from "@/assets/images/home/hero-bg.svg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { UsersRound } from "lucide-react";
import CentralSection from "../common/CentralSection.astro";
import DownloadButton from "../common/DownloadButton.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<CentralSection
  theme="light"
  icon={UsersRound}
  title={t("home.come_together.title")}
  subtitle={t("home.come_together.subtitle")}
  bg={BG}
>
  <div class="flex items-center gap-4">
    <DownloadButton store="Google Play" />
    <DownloadButton store="App Store" />
  </div>
</CentralSection>
