receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    send_batch_size: 1024
    timeout: 1s

  # Este processador adiciona traceId e spanId aos atributos.
  attributes/logs:
    actions:
      - key: traceId
        from_context: trace_id
        action: insert
      - key: spanId
        from_context: span_id
        action: insert

exporters:
  logging:
    loglevel: info

  loki:
    endpoint: "http://loki:3100/loki/api/v1/push"

  otlp/tempo:
    endpoint: "http://tempo:4317"
    tls:
      insecure: true

  prometheusremotewrite:
    endpoint: "http://prometheus:9090/api/v1/write"
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, otlp/tempo]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, prometheusremotewrite]

    logs:
      receivers: [otlp]
      processors: [batch, attributes/logs]
      exporters: [logging, loki]
