---
import InfoSection from "@/components/common/InfoSection.astro";
import { APP_ROUTES } from "@/constants/routes";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import {
  BodyBase,
  SubheadingMD,
} from "@repo/ui-web/components/custom/typography.jsx";
import { Handshake, Megaphone, UsersRound } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<InfoSection
  title={t("home.build_in_community.title")}
  subtitle={t("home.build_in_community.subtitle")}
  id={APP_ROUTES.HOME.sections.BUILD_IN_COMMUNITY}
  icon={UsersRound}
>
  <div class="flex w-full justify-center">
    <div
      class="my-10 grid max-w-[900px] grid-cols-1 grid-rows-3 flex-col items-stretch gap-8 md:my-20 md:grid-cols-3 md:grid-rows-1"
    >
      <!-- Don't learn alone -->
      <div class="relative aspect-square max-w-[300px] flex-1">
        <div
          class="border-gray-light flex h-full flex-col items-center justify-start gap-4.5 rounded-[48px] border p-6"
        >
          <div class="flex flex-col items-center gap-2 text-center">
            <UsersRound color="#0060F7" />
            <SubheadingMD color="brand-blue">
              {t("home.build_in_community.dont_learn_alone")}
            </SubheadingMD>
          </div>
          <div class="text-center">
            <BodyBase color="gray-normal">
              {t("home.build_in_community.dont_learn_alone_description")}
            </BodyBase>
          </div>
        </div>
      </div>

      <!-- Contextual Discussions -->
      <div class="relative aspect-square max-w-[300px] flex-1">
        <div
          class="border-gray-light flex h-full flex-col items-center justify-start gap-4.5 rounded-[48px] border p-6"
        >
          <div class="flex flex-col items-center gap-2 text-center">
            <Megaphone color="#0060F7" />
            <SubheadingMD color="brand-blue">
              {t("home.build_in_community.contextual_discussions")}
            </SubheadingMD>
          </div>
          <div class="text-center">
            <BodyBase color="gray-normal">
              {t("home.build_in_community.contextual_discussions_description")}
            </BodyBase>
          </div>
        </div>
      </div>

      <!-- Collaborative Curation -->
      <div class="relative aspect-square max-w-[300px] flex-1">
        <div
          class="border-gray-light flex h-full flex-col items-center justify-start gap-4.5 rounded-[48px] border p-6"
        >
          <div class="flex flex-col items-center gap-2 text-center">
            <Handshake color="#0060F7" />
            <SubheadingMD color="brand-blue" className="whitespace-nowrap">
              {t("home.build_in_community.collaborative_curation")}
            </SubheadingMD>
          </div>
          <div class="text-center">
            <BodyBase color="gray-normal">
              {t("home.build_in_community.collaborative_curation_description")}
            </BodyBase>
          </div>
        </div>
      </div>
    </div>
  </div>
</InfoSection>
