apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: curator

resources:
  - ../../base
  - ingress.yaml
  - traefik-config.yaml
  - metabase/deployment.yaml
  - metabase/service.yaml
  - metabase/configmap.yaml

patches:
  - path: patches/api-resources.yaml
    target:
      kind: Deployment
      name: api
  - path: patches/cms-resources.yaml
    target:
      kind: Deployment
      name: cms

images:
  - name: ghcr.io/thiagofons/curator-api
    newTag: "1.0.0" # Updated by CD pipeline
  - name: ghcr.io/thiagofons/curator-cms
    newTag: "1.0.0" # Updated by CD pipeline

secretGenerator:
  - name: api-secret
    envs:
      - secrets/api.env
  - name: cms-secret
    envs:
      - secrets/cms.env
  - name: redis-secret
    envs:
      - secrets/redis.env
  - name: metabase-secret
    envs:
      - secrets/metabase.env

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: cms-config
    behavior: merge
    literals:
      - PAYLOAD_SERVER_URL=https://cms.curator.com.br
