---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Base from "@/layouts/Base.astro";
import { Button } from "@repo/ui-web/components/base/button.jsx";
import { BodySmall, H2 } from "@repo/ui-web/components/custom/typography.jsx";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Base
  title={t("error.404.meta.title")}
  description={t("error.404.meta.description")}
>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <H2>{t("error.404.title")}</H2>
          <div class="content">
            <BodySmall>{t("error.404.message")}</BodySmall>
          </div>
          <a href="/">
            <Button client:load>
              {t("error.404.back_to_home")}
            </Button>
          </a>
        </div>
      </div>
    </div>
  </section>
</Base>
