---
import Base from "@/layouts/Base.astro";
import { Display } from "@repo/ui-web/custom/typography";
---

<Base>
  <main class="min-h-screen flex items-center justify-center">
    <Display> Pare de consumir ruído. Comece a construir sabedoria. </Display>
  </main>
</Base>
