---
import Base from "@/layouts/Base.astro";
import { getPayloadCategories } from "@/lib/payload";
import { humanize } from "@/lib/utils/textConverter";

const categories = await getPayloadCategories();
---

<Base title={"categories"} theme="dark">
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 mb-16">Categories</h1>
      <ul class="space-x-4">
        {
          categories.map((category) => (
            <li class="inline-block">
              <a
                href={`/blog/categories/${category.slug}`}
                class="bg-light text-text-dark hover:bg-primary rounded-lg px-4 py-2 transition hover:text-white"
              >
                &#8226; {humanize(category.data.title || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
