apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: curator

resources:
  - ../../base
  - ingress.yaml
  - postgres/statefulset.yaml
  - postgres/service.yaml
  - website/deployment.yaml
  - website/service.yaml

patches:
  - path: patches/api-resources.yaml
    target:
      kind: Deployment
      name: api
  - path: patches/cms-resources.yaml
    target:
      kind: Deployment
      name: cms

images:
  - name: ghcr.io/thiagofons/curator-api
    newTag: staging
  - name: ghcr.io/thiagofons/curator-cms
    newTag: staging
  - name: curator-website
    newTag: staging

secretGenerator:
  - name: api-secret
    envs:
      - secrets/api.env
  - name: cms-secret
    envs:
      - secrets/cms.env
  - name: redis-secret
    envs:
      - secrets/redis.env
  - name: postgres-secret
    envs:
      - secrets/postgres.env
  - name: website-secret
    envs:
      - secrets/website.env

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: cms-config
    behavior: merge
    literals:
      - PAYLOAD_SERVER_URL=http://cms.curator.local
